/* Background */
.stApp {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

/* Hero Section */
.hero-section {
    text-align: center;
    padding: 60px 20px;
    background: rgba(255,255,255,0.08);
    border-radius: 20px;
    backdrop-filter: blur(8px);
    margin-bottom: 40px;
}

.hero-section h1 {
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 10px
    }

.hero-section p {
    font-size: 22px;
    color: #dce3ea;
}

/* Cards */
.info-card {
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: 0.3s;
}
.info-card:hover {
    transform: translateY(-5px);
}

.info-card h3 {
    color: #00d4ff;
}

/* Main Title */
.main-title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 45px;
}

/* About Box */
.about-box {
    background: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 20px;
    line-height: 1.9;
    font-size: 18px;
}

/* Result Box */
.result-box {
    background: linear-gradient(135deg, #00b09b, #96c93d);
    padding: 40px;
    border-radius: 25px;
  